html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}
body{
  background-color:azure;
}

.Header_Ber{
  background-color: rgba(23, 56, 92, 0.7);
  padding: 15px;
  margin-top: 5px;
  width: 100%;
  height: 30px;
}
.Header_Ber h1{
font-weight: normal;
color :black;
font-family: 'Alegreya Sans SC', sans-serif;
}

.Main_Contenar{
  padding-left: 40px;
}

.Main_Contenar h1{
    font-size: 30px;
    font-weight: normal;
    color :coral;
    font-family: 'Alegreya Sans SC', sans-serif;
}
.middle_Contents{
padding-left: 30px;
font-weight: normal;
color: cornflowerblue;
font-family: 'Alegreya Sans SC', sans-serif;
font-size: 40px;
}

